<div>
    <div>
        <div class="col-md-6">
            <ui-view></ui-view>
        </div>
        <div class="col-md-6">
            <tgl-calendar on-date-selected="ctrl.getSchedule(date)"></tgl-calendar>
        </div>
    </div>

    <style type="text/css">
        .tgl-text.shift-type {
            font-weight: 700;
        }
        .tgl-text.shift-type-1 {
            color: #e47070;
        }
        .tgl-text.shift-type-2 {
            color: #fcd764;
        }
        .tgl-text.shift-type-3 {
            color: #a1e104;
        }
        .tgl-text.shift-location-name {
            font-weight: 500;
        }
        .tgl-text.shift-time {
            color: #bbb;
            text-transform: uppercase;
            font-size: 12px;
        }
        .tgl-text.shift-details {
            color: #4BB5CF;
            text-transform: uppercase;
            font-size: 12px;
        }

        .modal-content {
            background-color: none; 
            border: none;
        }
    </style>
</div>