<div>
    <div class="mb-md">Add a new shift to your calendar.</div>
    <form name="ctrl.form" class="form-horizontal" role="form" novalidate>
        <div class="row">
            <div class="col-sm-6 mb-md">
                <label>Class</label>
                <div>
                    <input type="text" class="form-control" required />
                </div>
            </div>
            <div class="col-sm-6 mb-md">
                <label>Gym</label>
                <div>
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mb-md">
                <label>Date</label>
                <div>
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mb-md">
                <label>Time</label>
                <div>
                    <input type="text" class="form-control" required />
                </div>
            </div>
            <div class="col-sm-6 mb-md">
                <label>Duration</label>
                <div>
                    <input type="text" class="form-control" required />
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="pull-right">
                <a href="#">Cancel</a>
                <button class="btn btn-success ml-sm">Add</button>
            </div>
        </div>
    </form>
</div>