@import "_variables.scss";
@import "_mixins.scss";

$tagglLightBlue: #4BB5CF;

$shiftKeyDetailsMargin: 2px;

.shift-key-details {
    margin-top: $shiftKeyDetailsMargin;
    margin-bottom: $shiftKeyDetailsMargin;

    .shift-type {
        font-weight: 700;

        &.shift-type-1 {
            color: #e47070;
        }
        &.shift-type-2 {
            color: #fcd764;
        }
        &.shift-type-3 {
            color: #a1e104;
        }
        &.shift-type-4 {
            color: #a1e104;
        }
        &.shift-type-5 {
            color: #a1e104;
        }
        &.shift-type-6 {
            color: #a1e104;
        }
        &.shift-type-7 {
            color: #a1e104;
        }
        &.shift-type-8 {
            color: #a1e104;
        }
        &.shift-type-9 {
            color: #a1e104;
        }
        &.shift-type-10 {
            color: #a1e104;
        }
    }

    .shift-location-name {
        font-weight: 500;
    }

    .shift-time {
        color: #bbb;
        text-transform: uppercase;
        font-size: $fontSizeSm;
    }
}

.shift-toggle-details {
    @include clickable;
    color: #4BB5CF;
    text-transform: uppercase;
    font-size: $fontSizeSm;
}

.shift-details {
    .shift-description-text {
        font-size: $fontSizeSm;
    }
}

.shift-loading-ph {

    .shift-key-detail-ph {
        margin-top: $shiftKeyDetailsMargin;
        margin-bottom: $shiftKeyDetailsMargin;
        height: $fontSizeBaseRaw + px;
        background-color: #efefef;

        &.shift-time {
            height: ($fontSizeBaseRaw * $fontSizeSmRaw) + px;
        }
    }
}