$fontSizeBaseRaw: 16;
$fontSizeBase: 16px;

$fontSizeXsRaw: 0.5;
$fontSizeSmRaw: 0.75;
$fontSizeMdRaw: 1;
$fontSizeLgRaw: 1.25;

$fontSizeXs: $fontSizeXsRaw + em;
$fontSizeSm: $fontSizeSmRaw + em;
$fontSizeMd: $fontSizeMdRaw + em;
$fontSizeLg: $fontSizeLgRaw + em;

$fontColorMuted: #bbb;