@{
    Layout = "";
}

@inject ServerDataBuilder ServerDataBuilder;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Taggl</title>

    @*TODO: Import site.less file in development*@
    <link rel="stylesheet" href="~/assets/css/site.css" />
    <link rel="stylesheet" href="~/jspm_packages/npm/font-awesome@4.5.0/css/font-awesome.min.css" />

    <style>
        body {
            font-size: 16px;
        }

        h1, h2, h3, h4, h5 {
            color: teal;
            font-weight: bold;
        }

        .mt-none {
            margin-top: 0px;
        }

        .mb-none {
            margin-bottom: 0px;
        }
        .mb-xs {
            margin-bottom: 10px;
        }
        .mb-sm {
            margin-bottom: 20px;
        }
        .mb-md {
            margin-bottom: 30px;
        }
        .mb-lg {
            margin-bottom: 40px;
        }

        label {
            margin: 0px;
            font-weight: bold;
        }

        div.false-input-text {
            /*box-shadow: inset 0 -1px 0 #ddd;*/
            padding-top: 5px;
            padding-bottom:  3px;
        }

        textarea.ng-invalid.ng-touched,
        textarea.form-control.ng-invalid.ng-touched,
        input.form-control.ng-invalid.ng-touched,
        input[type=text].ng-invalid.ng-touched, 
        input[type=password],
        input[type=email],
        input[type=number],
        [type=text].form-control.ng-invalid.ng-touched,
        [type=password].form-control,
        [type=email].form-control,
        [type=tel].form-control,
        [contenteditable].form-control {
            box-shadow: inset 0 -2px 0 red;
        }
    </style>
</head>
<body ng-controller="MainController as ctrl">
    <div>
        <tgl-navbar></tgl-navbar>
    </div>

    <div class="container">
        <ui-view></ui-view>
    </div>
    
    <script src="~/jspm_packages/system.js"></script>
    <script src="~/jspm.browser.js"></script>
    <script src="~/jspm.config.js"></script>
    <script src="~/jspm_packages/github/angular/bower-angular@1.5.3/angular.js"></script>
    <script src="~/jspm_packages/github/angular-ui/ui-router@0.2.18/angular-ui-router.js"></script>
    <script src="~/jspm_packages/npm/moment@2.12.0/moment.js"></script>
    <script type="text/javascript">
        System.import("/src/apps/main/main.js").then(function (m) {
            m.run(@(await ServerDataBuilder
                .AddCurrentUser()
                .AddUrls(typeof(HomeController))
                .AddUrls(typeof(AccountApiController))
                .AddUrls(typeof(AdministrationApiController))
                .AddUrls(typeof(SearchApiController))
                .SerializeAsync()));
        });
    </script>
</body>
</html>