@{
    Layout = "";
}

@inject ServerDataBuilder ServerDataBuilder;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Taggl</title>

    @*TODO: Import site.less file in development*@
    <link rel="stylesheet" href="~/assets/css/site.css" />
    <link rel="stylesheet" href="~/assets/css/mdb.css" />

    <style type="text/css">
        p {
            font-size: 1rem;
        }
    </style>
</head>
<body ng-controller="MainController as ctrl">
    <div>
        <tgl-navbar></tgl-navbar>
    </div>

    <div class="container">
        <ui-view></ui-view>
    </div>
    
    <script src="~/jspm_packages/system.js"></script>
    <script src="~/jspm.browser.js"></script>
    <script src="~/jspm.config.js"></script>
    <script src="~/jspm_packages/github/angular/bower-angular@1.5.3/angular.js"></script>
    <script src="~/jspm_packages/github/angular-ui/ui-router@0.2.18/angular-ui-router.js"></script>
    <script src="~/jspm_packages/npm/moment@2.12.0/moment.js"></script>
    <script type="text/javascript">
        System.import("/src/apps/main/main.js").then(function (m) {
            m.run(@(await ServerDataBuilder
                .IncludeCurrentUser()
                .IncludeUrls(typeof(HomeController))
                .IncludeUrls(typeof(AccountApiController))
                .IncludeUrls(typeof(AdministrationApiController))
                .IncludeUrls(typeof(SearchApiController))
                .SerializeAsync()));
        });
    </script>
</body>
</html>