@inject IIdentityResolver IdentityResolver

@{
    var identity = IdentityResolver.Resolve();
}

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/assets/images/logo-white-horizontal.png" /></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                @if (IdentityResolver.IsSignedIn())
                {
                <li><a>Hi, @identity.GetUserName()</a></li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm"></form>
                </li>
                }
                else
                {
                <li><a asp-action="Login" asp-controller="Account">Login</a></li>
                <li><a asp-action="Index" asp-controller="Registration">Register</a></li>
                }
            </ul>
        </div>
    </div>
</nav>