<h2>Administration</h2>
<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="card-content">
                <h3>Placeholder</h3>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <h3>Placeholder</h3>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="card" ng-if="ctrl.pendingUsers.length">
            <div class="card-content">
                <h3>Pending Approvals</h3>

                <div ng-if="ctrl.pendingUsers.length">
                    <p>The following users have confirmed their email addresses and are waiting to be approved.</p>
                    <p></p><p></p>
                    <table class="table table-responsive table-striped">
                        <tbody>
                            <tr ng-repeat="user in ctrl.pendingUsers">
                                <td>{{ user.email }}</td>
                                <td><a href="javascript:void(0)" class="pull-right" ng-click="ctrl.approveUser(user)">Approve</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="!ctrl.pendingUsers.length">
                    <p>Their are no user pending approval.</p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <h3>User Search</h3>
                <tgl-user-search></tgl-user-search>
            </div>
        </div>
    </div>
</div>